:root {
    --primary-red: #ee0000;
    --primary-grey: #D7D2CB;
    --secondary-color: #e3bcce;
    --dark-color: #000000;
    --text-color: #444;
    --bright-color: #fff;
    --yellow-color100: #ffdc55;
    --yellow-color80: #ffe482;
    --yellow-color60: #ffeba4;
    --yellow-color40: #fff2c5;
    --blue-color100: #0073bf;
    --blue-color80: #1f82c0;
    --blue-color60: #3f9fd4;
    --blue-color40: #92c6df;
    --grey-color100: #8d857c;
    --grey-color80: #aba4a1;
    --grey-color60: #bdb7b0;
    --grey-color40: #d8d3ce;
    --cyan-color100: #0073bf;
    --cyan-color80: #1f82c0;
    --cyan-color60: #3f9fd4;
    --good-color: #00733a;
    --bad-color: #9e0000;
    --neutral-color: #ff9900;
    --background-color: #d8d3ce;
    --yellow-color1: #ffdc55;
    --yellow-color2: #ffe382;
    --yellow-color3: #ffeba4;
    --yellow-color4: #FFF4C5;


    --font-size1: 24px;
    --font-size2: 16px;
    --border-radius: 1em;

}