:root {
    --primary-color: #ee0000;
    --secondary-color: #e3bcce;
    --dark-color: #000000;
    --bright-color: #fff;
    --blue-color1: #0073bf;
    --blue-color2: #1f82c0;
    --blue-color3: #3f9fd4;
    --blue-color4: #92c6df;
    --good-color: #00733a;
    --bad-color: #9e0000;
    --neutral-color: #ff9900;
    --border-radius: 1em;
}